@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

.app {
    font-family: "Lato", sans-serif;
}

.app-header {
    background-color: #007872;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
}

#app-title {
    font-family: "Montserrat", sans-serif; 
    text-align: center;
    color: white;
}

.app-body {
    width: 80%;
    margin: 100px auto 0 auto;
}